{% extends 'base.html' %}
{% load static %}

{% block title %} 
CART
{% endblock %}

{% block content %}

<div class="table-responsive">
  {% if items %}
  <table class="table table-striped table-borderless">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">PRODUCT</th>
        <th scope="col">DESCRIPTION</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>
          <img src="{{ item.product.image.url }}" class="img-fluid img-thumbnail" style="max-width: 150px;" alt="...">
        </td>
        <td>
          <h1>{{ item.product.name }} </h1> <br> size : {{ item.product.size }}<br>color : {{ item.product.colour }} <br> price : {{ item.product.price }} rs <br> quantity : {{ item.quantity }} <br>
          <a href="{% url "home:cart-remove" slug=item.product.slug %}"><button type="button" class="btn btn-outline-primary">DELETE</button></a>
        </td>
        <td></td>
      </tr>
      {% endfor %}
      <tr>
        
        <th scope="col">SUBTOTAL</th>
        <th scope="col">{{ total }} RS</th>
        <th scope="col"><a href="{% url "home:order-place" %}"><button type="button" class="btn btn-outline-primary">Proceed to Checkout</button></a>
        </th>
        
      </tr>
    </tbody>
  </table>
  {% else %}
    <h3>You dont have any items in the cart</h3>
  {% endif %}
</div>


{% endblock %}