{% extends 'base.html' %}
{% load static %}

{% block title %} 
ORDERS
{% endblock %}

{% block content %} 

<div class="table-responsive">
  {% if items %}
  <table class="table table-striped table-borderless">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">PRODUCT</th>
        <th scope="col">DESCRIPTION</th>
        
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>
          <img src="{{ item.product.image.url }}" class="img-fluid img-thumbnail" style="max-width: 150px;" alt="...">
        </td>
        <td>
          <h1>{{ item.product.name }} </h1> <br> size : {{ item.product.size }}<br>color : {{ item.product.colour }} <br> price : {{ item.product.price }} rs <br> order id : {{ item.order.uuid }} <br> quantity : {{ item.quantity }} <br> status : {{ item.order.status }} <br> date : {{ item.order.date }} <br>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h3>You didnt order anything yet</h3>
  {% endif %}
</div>


{% endblock %}