{% extends 'base.html' %} 

{% block title %} 
PRODUCT
{% endblock %}

{% block content %} 

{% load static %}
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-6 p-5">
          <div id="carouselExampleInterval" style="max-width:400px; margin: auto" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner h-100">
              {% for image in images %}
              <a href="{{ image.image.url }}" class="carousel-item active" data-bs-interval="10000">
                <img src="{{ image.image.url }}" class="d-block w-100 h-100" alt="...">
              </a>
              {% endfor %}
              <a href="{{ item.image.url }}" class="carousel-item active" data-bs-interval="10000">
                <img src="{{ item.image.url }}" class="d-block w-100 h-100" alt="...">
              </a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6 p-5">
            <h2>{{ item.name }}</h2>
            <p class="text-muted">Category: {{ item.category }}</p>
            <p class="text-muted">size: {{ item.size }}  color: {{ item.colour }}  </p>
            <p class="lead font-weight-bold">
              {% if item.discount_price == 0 %}
              Price: Rs {{ item.price }}
              {% else %}
              Price: Rs <strike>{{ item.price }}</strike>  {{ item.discount_price }} including GST
              {% endif %}
            </p>
            <p style="white-space: pre-line" >{{ item.description }}.</p>
          <!--  <p>Will be delivered in 2 to 4 days.</p> -->
            
            <form method="get" action="{% url "home:cart-add" slug=item.slug %}">
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <div class="input-group">
                      
                      <input type="number" id="quantity" name="quantity" class="form-control input-number" value="1" min="1">
                      <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number mx-2" onclick="decreaseQuantity()" style="font-size: 1.5rem;">
                          -
                        </button>
                      </span>
                      <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number me-2" onclick="increaseQuantity()" style="font-size: 1.5rem;">
                          +
                        </button>
                      </span>
                    </div>
                </div>
                <div class="row">
                  <p>Alternative Options: </p>
                </div>
                <div class="row">
                 <div>
                  SIZES
                  
                  <div class="col-md-6 d-flex align-items-center justify-content-center">
                  {% for sitem in sitems %}
                  {% if sitem.slug != item.slug %}
                  {% if sitem.colour == item.colour %}
                   <div>
                    <a href="{% url "home:product-detail" slug=sitem.slug %}">
                      <img src="{{ sitem.image.url }}" style=" margin:2; width: 50px;" alt="IMG"> 
                    </a>
                    <p class="text-center"> {{ sitem.size }} </p>
                   </div>
                   {% endif %}
                    {% endif %}
                    {% endfor %}
                  </div>
                 </div>
                  <div>
                    COLOURS
    
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                    {% for sitem in sitems %}
                    {% if sitem.slug != item.slug %}
                    {% if sitem.size == item.size %}
                     <div>
                      <a href="{% url "home:product-detail" slug=sitem.slug %}">
                        <img src="{{ sitem.image.url }}" style=" margin:2; width: 50px;" alt="IMG">
                      </a>
                      <p class="text-center" > {{ sitem.colour }}</p>
                     </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                </div>
                <button type="submit" class="btn btn-primary mt-5">Buy Now</button>
                &nbsp
                <button type="submit" class="btn btn-success mt-5">Add to cart</button>
            </form>
            
        </div>
        
    </div>
</div>

<script>
function increaseQuantity() {
    var quantityInput = document.getElementById('quantity');
    var currentValue = parseInt(quantityInput.value);
    quantityInput.value = currentValue + 1;
}

function decreaseQuantity() {
    var quantityInput = document.getElementById('quantity');
    var currentValue = parseInt(quantityInput.value);
    if (currentValue > 1) {
        quantityInput.value = currentValue - 1;
    }
}
</script>

{% endblock %}