{% extends 'adm-base.html' %} {% block title %} PRODUCT LIST{% endblock %} {% block content %} {% load static %}

<div class="table-responsive">
  <a href="{% url "mod:product-add" %}"><button type="button" class="btn btn-outline-primary">Add</button></a>

    <table class="table table-striped table-borderless">
      <thead class="thead-dark">
        <tr>
          
          <th scope="col">PRODUCT</th>
          <th scope="col">DESCRIPTION</th>
          
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>
            <a href="{{ item.image.url }}" class="carousel-item active" data-bs-interval="10000">
              <img src="{{ item.image.url }}" alt="IMAGE" style="width: 300px; max-width: 40%;">
            </a>
          </td>
          <td>
            
            PRODUCT NAME : {{ item.name }}<br>
    
            PRODUCT PRICE : {{ item.price }}<br>
           
            PRODUCT COLOUR : {{ item.colour }}<br>
           
            PRODUCT SIZE : {{ item.size }}<br>
            
            PRODUCT DESCRIPTION : {{ item.description }}<br>
           
            AVAILABILITY : {{ item.available_stock }}<br>
            
            <a href="{% url "mod:product-delete" slug=item.slug %}"><button type="button" class="btn btn-outline-primary">DELETE</button></a>
            <a href="{% url "mod:product-update" slug=item.slug %}"><button type="button" class="btn btn-outline-primary">EDIT</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  {% endblock %}