{% extends 'adm-base.html' %} {% block title %} ADD CATEGORY {% endblock %} {% block content %} {% load static %}

<form>
          
    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">PRODUCT PHOTO</label>
        <label  class="col-sm-2 col-form-label">PRODUCT NAME</label>

       
        <label  class="col-sm-2 col-form-label">PRODUCT NAME</label>
        <div class="col-sm-10">
         
        <label  class="col-sm-2 col-form-label">PRODUCT PRICE</label>
       
        <label  class="col-sm-2 col-form-label">DISCOUNT PRICE</label>
        <div class="col-sm-10">
        
        <label  class="col-sm-2 col-form-label">PRODUCT PRICE</label>
       
        <label  class="col-sm-2 col-form-label">PRODUCT COLOUR</label>
       
        <label  class="col-sm-2 col-form-label">PRODUCT SIZE</label>
        
        <label class="col-sm-2 col-form-label">PRODUCT DESCRIPTION</label>
       
        <label  class="col-sm-2 col-form-label">AVAILABILITY</label>
       
      
    
    

    <button type="submit" class="btn btn-primary">EDIT</button>
  </form>

{% endblock %}