{% extends 'users/userbase.html' %}

{% block title %}
Code Verification
{% endblock title %}

{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<div class="container-fluid bg-light">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <div class="text-center mb-4">
                    <h5 class="m-2">Code Verification</h5>
                    <p class="text-muted">
                        Enter the code that has been sent to you.
                    </p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% include 'users/form_snippets.html' with center=True form=form %}
                    <button class="btn btn-primary btn-block mt-4" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}