{% extends 'adm-base.html' %} {% block title %} EDIT CATEGORY {% endblock %} {% block content %} {% load static %}

<form method="post">
    {% csrf_token %}
    <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">CATEGORY NAME</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" name="name" value="{{ object.name }}" required>
    </div>
      <label  class="col-sm-2 col-form-label">PRIORITY</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" name="priority" value="{{ object.priority }}" required>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">UPDATE</button>
  </form>

{% endblock %}