{% extends 'adm-base.html' %} {% block title %} Add Product {% endblock %} {% block content %} {% load static %}
{% if form %}
{% if form.errors %}
  {{ form.errors }}
{% endif %}
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">PRODUCT NAME</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" name="name" required>
    </div>
  </div>
  <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">PRODUCT CATEGORY</label>
    <div class="col-sm-10">
        <select class="form-select" id="inlineFormSelectPref" name="category" required>
          <option selected>Select category</option>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
    </div>
  </div>
  </div>
    
  <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">PRODUCT PRICE</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" name="price" required>
    </div>
  </div>

    
  <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">DISCOUNT PRICE</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" name="discount_price">
    </div>
  </div>

    
  <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">PRODUCT COLOUR</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" name="colour" required>
    </div>
  </div>

    
  <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">PRODUCT SIZE</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" name="size" required>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">PRODUCT DESCRIPTION</label>
    <div class="col-sm-10">
        <textarea class="form-control" id="productDescription" rows="5" name="description" required></textarea>
    </div>
  </div>

  <div class="row mb-3">
      <label  class="col-sm-2 col-form-label">AVAILABILE STOCK</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" name="available_stock" required>
      </div>
    </div>
    <div class="row mb-3">
      <label  class="col-sm-2 col-form-label">PRODUCT PHOTO</label>
      <div class="col-sm-10">
        <input type="file" name="image" accept="image/*" required>
      </div>
    </div>
  <div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock %}