{% extends 'adm-base.html' %} {% block title %} PRODUCT LIST{% endblock %} {% block content %} {% load static %}

<div class="table-responsive">
    <table class="table table-striped table-borderless">
      <thead class="thead-dark">
        <tr>
          
          <th scope="col">PRODUCT</th>
          <th scope="col">DESCRIPTION</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>
            PHOTO
          </td>
          <td>
            
            PRODUCT NAME<br>
    
            PRODUCT PRICE<br>
            
            PRODUCT PRICE</br>
           
            PRODUCT COLOUR<br>
           
            PRODUCT SIZE<br>
            
            RODUCT DESCRIPTION<br>
           
            AVAILABILITY<br>
            
            <button type="button" class="btn btn-outline-primary">DELETE</button>
          </td>
          
        </tr>
        
      </tbody>
    </table>
  </div>
  
  {% endblock %}