{% extends 'adm-base.html' %} {% block title %} EDIT CATEGORY {% endblock %} {% block content %} {% load static %}

<form method="post">
          
    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">PRODUCT NAME</label>
        <div class="col-sm-10">
            <select class="form-select" id="inlineFormSelectPref">
                <option selected>{{ item.category }}</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category.name }}</option>
                {% endfor %}
              </select>
        </div>
      </div>
      
    
    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">PRODUCT NAME</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" value="{{ item.name }}">
        </div>
      </div>
      
    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">PRODUCT PRICE</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" value="{{ item.price }}">
        </div>
      </div>

      
    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">DISCOUNT PRICE</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" value="{{ item.discount_percentage }}">
        </div>
      </div>

      
    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">PRODUCT COLOUR</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" value="{{ item.colour }}">
        </div>
      </div>

      
    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">PRODUCT SIZE</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" value="{{ item.size }}">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">PRODUCT DESCRIPTION</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="productDescription" rows="5">{{ item.description }}</textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">AVAILABILITY</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" value="{{ item.available_stock }}">
        </div>
      </div>
      
    
      <div class="row mb-3">
        <label  class="col-sm-2 col-form-label">PRODUCT PHOTO</label>
        <div class="col-sm-10">
          <img src="{{ item.image.url }}" alt="">
      </div>
      {% for image in images %}
        <div class="col-sm-10">
            <img src="{{ image.image.url }}" alt="">
        </div>
        <a href="{% url "mod:image-delete" pk=image.id %}"><button type="button" class="btn btn-outline-primary">DELETE</button></a>
      {% endfor %}
      </div>


      <div>
        
    </div>
    

    <button type="submit" class="btn btn-primary">ADD</button>
  </form>

{% endblock %}